{% extends 'base.html' %}
{% block title %} COSMOSIVICSA: Architecture, Engineering and Consulting {% endblock title %}
{% block body %}
{% load crispy_forms_tags %}

    <div class="container mt-2 mb-5" id="all_projects" style="max-width: 1250px;">
      <!--*********** Heading and Banner Image Start ************  -->
      <div class="row">
        <div class="col-12 Project-page-heading">
          <div class="col-md-1"></div>
        <div class=" offset-md-1 col-md-10">
          <h1>SERVICES</h1>
          <p>
            <p>COSMOSIVICSA partners with clients to take on their most complex challenges and pioneer innovative solutions that make a positive, lasting impact.<br />
Across the globe, our teams push the limits of what&rsquo;s possible and build legacies for generations to come &ndash; the second longest bridge in South America, record-breaking sports events as the Olympic Games, the largest east African development mega project, life-sustaining disaster recovery programs, and the most challenging sustainable solutions for a better future.</p>
          </p>
          <div class="col-md-1"></div>
        </div>
      </div>
    
        </div>
      </div>
  

    {% for s in allservice %} 
    <a href="/viewservice/{{s.servicename}}">
      <div class="Product-Page-Banner-Image" style="background-image: url(/media/{{s.service_images}})">
        <div class="Product-Page-Banner-Heading">
  
          <h2 class='project_type'>
            
            {{s.servicename}}
            </h2>          
          <h5></h5>
        </div>
      </div>
    </a>
    {% endfor%}
    {% endblock body %}