{% extends 'base.html' %}
{% block title %} COSMOSIVICSA: Architecture, Engineering and Consulting {% endblock title %}
{% block body %}

<div class="container">
    <div class="row g-0">
      <div class="col-12" id="our-firm">
      
      {% for value in our_values %}
      <div class="col-12 video-full">
        <video width="100%" autoplay="true" loop="true" muted="muted" playsinline>
          <source src="/media/{{value.video}}" type="video/mp4">
        </video>
      </div>
      <h2>{{value.name}}</h2>
    </div>
    </div>
  </div>
  <div class="container" id="values">
    <div class="row">
      <div class="recent-projects">
        <div class="row">
          <div class="col-12" id="our-firm">
            <!-- <h2>OUR VALUES</h2> -->
            <div class="text-details">
              <p>We focus on initiatives capable of breaking down barriers and ensuring that people from all sectors of the community have equal treatment and access to opportunities.<br />
We respect and value differences by fostering a diverse and inclusive corporate culture, capable of integrating minority or unrepresented groups regardless of their gender, different abilities, marital status, religion, sexual orientation, race or specific beliefs.<br />
<br />
We translate this commitment into active policies aimed at rewarding talent, reducing the salary gap, guaranteeing work-life balance and promoting safe and healthy work spaces on a physical and mental level.<br />
&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="row g-0">
          {% for v in value.values.all %}
          {% if v.id|divisibleby:2 %}
          <div class="col-md-6">
                          
            <a href="/media/{{v.image}}" data-lightbox="img">
              <img src="/media/{{v.image}}">
            </a>
          </div>
          <div class="col-md-6 project-details"  id="{{v.title}}" style="padding-right: 0px !important; padding-left:79px;">
            <h3>{{v.title}}</h3>
            <div class="img-text">
                <p>{{v.paragraph|safe}}</p>
            </div>
          </div>

          {% else %}
          <div class="col-md-6 project-details" style="padding-left: 0px !important; padding-right:79px;" id="{{v.title}}">
            <h3>{{v.title}}</h3>
            <div class="img-text">
                <p>{{v.paragraph|safe}}</p>
            </div>
          </div>
          <div class="col-md-6">
                          
            <a href="/media/{{v.image}}" data-lightbox="img">
              <img src="/media/{{v.image}}">
            </a>
          </div>
        
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
{% endblock body %}