/*********************************** Font Family Hurme  ************************************/
@font-face {
    font-family: Hurme;
    src: url("../font/HurmeGeometricSans1.otf") format("opentype");
}

@font-face {
    font-family: Hurme-bold;
    font-weight: bold;
    src: url("../font/HurmeGeometricSans1 Bold.otf") format("opentype");
}

@font-face {
    font-family: Hurme-semi-bold;
    font-weight: bold;
    src: url("../font/HurmeGeometricSans1 SemiBold.otf") format("opentype");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Hurme";
}

a:hover {
    text-decoration: none;
}

/* #slider4{
    display: none;
} */


/* Slider */
#slider3 .carousel-control-next,
#slider3 .carousel-control-prev {
    height: 111vh;
}

#slider3 .carousel-item {
    height: 100vh;
    background: black;
}

#slider3 .carousel-item video {
    opacity: 0.8;
}

#slider3 .carousel-item img {
    opacity: 0.8;
}

.carousel-item img {
    object-fit: cover;
    object-position: center center;
}

#slider3 .carousel-inner {
    background: rgba(0, 0, 0, 0.4);
}

.carousel-caption {
    bottom: 33.5%;
}

.carousel-caption h3 {
    height: 105px;
    text-align: justify;
}

/* About Us Section */
div#about-us {
    padding-left: 12px;
    padding-right: 25px;
}

#about-us .aboutus-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 0px;
}

.aboutus-title h4 {
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Hurme-bold';
}

.sub-title {
    margin-top: 20px;
}

.sub-title h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: Hurme-semi-bold;
}

.sub-title p {
    padding-right: 10px;
    text-align: justify;
    font-size: 16px;
}

div#slider2 {
    margin-top: 5px;
}

/* Small Slider About Us Section */
#about-us .carousel-item img {
    height: 270px !important;
    min-height: 270px;
    object-fit: cover;
}

#about-us .carousel-item {
    height: unset !important;
    min-height: unset;
}

#about-us .carousel-control-next-icon,
#about-us .carousel-control-prev-icon {
    width: 1rem;
    height: 1rem;
}

.carousel-control-prev-icon {
    width: 100% !important;
    height: 40px !important;
}

.carousel-control-next-icon {
    width: 100% !important;
    height: 40px !important;
}

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
}

.box {
    position: relative;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: center;
}

.box h3 {
    font-family: 'Hurme-semi-bold';
    font-size: 14px;
    position: absolute;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    top: 44%;
    left: 4%;
    padding: 8px 10px;
    background: #151414a6;
    text-transform: capitalize;
}

.box p {
    font-size: 13px;
    text-align: justify;
    background: #8b8b8b;
    color: #fff;
    padding: 10px;
    /* height: 60px; */
}

h1 {
    font-size: 28px;
    line-height: 36.4px;
}

.figure.img {
    z-index: -1;
}

.text-middle {
    z-index: 999999;
    color: #fff;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 100vh;
    padding: 0px 180px;
    background: #15141459;
}

.l_news h1 {
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Hurme-bold';
    text-align: center;
    margin-bottom: -10px;
    margin-top: 45px;
}